html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto-Black', sans-serif;
    src: url('./fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BlackItalic', sans-serif;
    src: url('./fonts/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold', sans-serif;
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BoldItalic', sans-serif;
    src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Italic', sans-serif;
    src: url('./fonts/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Light', sans-serif;
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic', sans-serif;
    src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Medium', sans-serif;
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-MediumItalic', sans-serif;
    src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin', sans-serif;
    src: url('./fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-ThinItalic', sans-serif;
    src: url('./fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-style: italic;
}

* {
    color: #F9FAF8;
    font-family: 'Roboto-Medium', sans-serif;
}

header {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: fit-content;
    background: #1F2937;
    z-index: 2;
}

img {
    object-fit: cover;
}

button {
    padding: 2;
    border: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #F9FAF8;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #1F2937;
    padding-bottom: 45px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
}

p {
    font-size: 1.55em;
}

body {
 /*   margin-top: 240px;
    background: rgb(0, 3, 4);
    background: linear-gradient(90deg, rgba(0, 3, 4, 1) 0%, rgba(107, 107, 117, 1) 48%, rgba(233, 233, 233, 1) 100%);
    background-size: cover;
    background-attachment: scroll;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    height: 70px;
    margin-top: auto;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.head-bg{
    /*background: #F9FAF8*/
    
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.top-bg {
    background: #1F2937;
    padding-top: 180px;
    padding-bottom: 50px;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.section {
    margin-top: 70px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}

.flex-container-vertical p { 
     font-family: 'Roboto', sans-serif;  
    font-size: 18px;
    color: #E5E7EB;
}

.flex-container-vertical a { 
     height: 150px;
}


.text-box {
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.img-top {
    width: 400px;
    height: auto;
}

.button {
    background-color: #3882F6;
    position: relative;
    border: none;
    font-size: 28px;
    color: #F9FAF8;
    padding: 5%;
    width: 30%;
    min-width: fit-content;
    max-width: 2vh;
    text-align: center;
    transition-duration: 2s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5%;
    margin-top: 5%;
}

.button:hover {
    background-color: #3882F6;
    position: relative;
    border: none;
    font-size: 28px;
    color: #1F2937;
    padding: 20px;
    width: 50%;
    height: 100%;
    text-align: center;
    transition-duration: 2s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 2s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-weight: bold;
    font-size: large;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

h1.services-title {
    margin: auto;
    text-align: center;
    width: 50%;
    padding-bottom: 80px;
}

#business-image,
#marketing-image,
#investment-image {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    border: 4px solid white;
}

#services {
    margin-right: 70px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-info2 ul {
    list-style: none !important;
    padding: 20px;
    font-size: 20px;
}

.contact-info2 li {
    margin-bottom: 10px;
}

.wrap-categories {
    width: 23%;
    min-width: 200px;
    height: 240px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 14%;
    transition: transform .4s ease-in;
    border-style: solid;
    border-color: #2882F6;
    border-width: 4px;
}

.categories-down {
    margin-bottom: 50px;
}

@media screen and (min-width: 680px) and (max-width: 1060px) {
    .wrap-categories {
        width: 48%;
        max-width: 270px;
    }

    .container {
        max-width: 700px;
    }
}

@media screen and (max-width: 679px) {
    .wrap-categories {
        width: 95%;
        max-width: 270px;
    }

    .container {
        max-width: 350px;
    }

    nav {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
    }

}

.wrap-categories:hover {
    transform: scale(0.95);
}

.wrap-categories a {
    padding: 0;
}

.head-container {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #000000;
    text-align: justify;
    padding: 0 18px;
    line-height: 2rem;
}

.icon-zero {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: -127px -135px;
    margin: 20px 0 75px 0;
}

.icon-polygon {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: 135px 0px;
    margin: 20px 0 75px 0;
}

.icon-cube {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: -63px -135px;
    margin: 20px 0 75px 0;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: 0px 0px;
    margin: 20px 0 75px 0;
}

.icon-cone {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: 0px -68px;
    margin: 20px 0 75px 0;
}

.icon-cylinder {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: -127px -70px;
    margin: 20px 0 75px 0;
}

.icon-pyramid {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: -127px -5px;
    margin: 20px 0 75px 0;
}

.icon-double-pyramid {
    width: 60px;
    height: 60px;
    background-image: url(./images/sprite.png);
    background-position: -5px -135px;
    margin: 20px 0 75px 0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0, 8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup-content {
    transform: translate(0px, 0px);
    opacity: 1;
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup-area {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 1;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px 10px;
    margin-top: 25px;
}

.popup-wrap {
    display: flex;
    justify-content: space-between;
}

.popup-content {
    background-color: #fff;
    max-width: 1220px;
    padding: 30px;
    position: relative;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transition: all 0.8s ease 0s;
}

.popup-close {
    right: 470px;
    top: 10px;
    font-size: 35px;
    color: #000;
    font-weight: bold;
    border: 1px solid;    
    margin-bottom: 67px;
    text-decoration: none;
}

.popup-title {
    color: #000;
    font-size: 40px;
    margin: 0 0 1em 0;
    font-weight: bold;
}

.popup-text p {
    color: #000;
    text-indent: 1.5em;
    padding-bottom: 20px;
    text-align: justify;
}

.popup-text p span {
    color: #000;
    text-indent: 1.5em;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: justify;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #E5E7EB;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-style: italic;
    color: #1F2937;
    min-width: fit-content;
}

.quote-bg{
    background: #E5E7EB;
}

.quote p {
    font-family: 'Roboto-Italic', sans-serif;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

cite {
    background-color: #E5E7EB;
    text-align: right;
    color: #1F2937;
}

#quote-sign {
    background-color: #E5E7EB;
    color: #1F2937;
}

#headline {
    max-width: min-content;
    text-align: right;
    position: relative;
    float: right;
}

.nav {
    height: 15%;
    width: 100%;
    position: relative;
    align-content: center;
    align-items: center;
    padding-top: 1vh;
}

.nav>.nav-header {
    display: inline-block;
    margin-left: 10%;
}

.nav-header a {
    color: #F9FAF8;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.nav-header img {
    padding-right: 20px;
    width: 60px;
    height: auto;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin-right: 10%;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav>.nav-links>a:hover {
    background-color: #E5E7EB;
    color: #1F2937;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:750px) {
    .top {
        justify-content: flex-start;
    }
    #logo {
        width: 50px;
        height: auto;
    }

    .nav {
        padding-bottom: 19px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgb(31 41 55 / 40%);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgb(31 41 55 / 85%);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: fit-content;
        overflow-y: auto;
    }

    .container-goal {
        padding-left: 30px;
    }   

    .flex-footer {
        margin-left: -90px;
    }

    h2 {
        margin-left: -50px;
    } 
}
/* yazan */

.my-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}



.got-a-question {
    background-color: #A9A9A9;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.got-a-question h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.got-a-question p {
    font-size: 20px;
    line-height: 1.5; 
    text-align: center;
}


.contact-info {
    display: flex; /* Make children flex items */
    justify-content: space-between; /* Space items horizontally */
    width: 100%; /* Full width */
    margin-bottom: 20px; /* Add spacing between paragraphs and copyright */
}

.contact-info p {
    text-align: center; /* Center the text horizontally */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.5;

}

/* yazan */

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.goal-section {
    width: 66%;
    font-size: 3.2rem;
    text-align: center;
}
.animation-bagel {
    height: 295px;
    width: 295px;
    overflow: hidden;

}

.animation-bagel img {
    width: 300px; 
    height: auto;
}

.container-goal {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.top-characteristic {
    margin-top: 100px;
}

.characteristic-left {
    width: 60%;
}

.characteristic-left h2{
    height: 125px;
    color: #F9FAF8;
    padding: 20px 50px;
    border-radius: 5% 4% / 21% 24%;
    font-size: 3.8em;;
}

.characteristic-left h3 {
    color: #E5E7EB;
    padding: 0 0 0 30px;
    width: 42%;
    font-size: 1.3em;
    margin-top: 4%
}

.characteristic-left p {
    color: #E5E7EB;
    padding: 30px 50px 0 0;
    width: 55%;
    font-size: 1em;
    text-align: justify;
}

.container-characteristic {    
    min-width: 200px;
    width: 90%;
    height: 180px;
    background-color: #1f2937;
    margin: 20px 0; 
    border-radius: 5% 4% / 16% 20%;
}

.characteristic-right{
    margin-top: 25px;
}

.characteristic-right img {
    margin-bottom: 145px;
    border-radius: 4%;
}
.animation-ball {
    height: 300px;
    width: 81%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: -40px;

}

.animation-ball img {
    width: 346px;
    height: auto;
    margin-left: -31px;
    margin-top: -28px;
}

.img-top {
    width: 400px; 
    height: auto;
}

.animation {
    animation: rotate 25s infinite; 
    position: relative; 
}



.banner {
    background-color: #3882F6;
    margin-bottom: 15px;
    padding-bottom: 45px;
    padding-top: 25px;
    border-radius: 2% 2% / 16% 20%;
}

@media screen and (min-width: 425px) and (max-width: 1060px) {
    .banner {
        border-radius: 10% 10% / 16% 20%;
    }
}

.flex-container-banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    text-align: inherit;
    margin-top: 10%;
}

#signupbutton {
    margin-top: 10%;
    text-align: center;
    color: #F9FAF8;
    min-width: 200px;
    min-height: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 3vh;
    background-color: #3882F6;    
    border-radius: 4% 4% / 16% 20%;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 2px;
    height: 54px;
}

#signupbutton:hover {
  background-color: #F9FAF8;
  color: #1F2937;

}

@media screen and (min-width: 425px) and (max-width: 1060px) {
    #signupbutton {
        
    }
}

.wrap-industries {
    background: #1F2937;

}